
body { font-family: Arial, sans-serif; margin: 0; background: #f9f9f9; }
header { background: #ff914d; padding: 15px; color: white; text-align: center; }
nav a { margin: 10px; color: white; text-decoration: none; font-weight: bold; }
.hero { padding: 40px; text-align: center; }
button { padding: 10px 20px; background: #ff914d; border: none; color: white; cursor: pointer; }
.cards { display: flex; justify-content: center; gap: 20px; padding: 20px; }
.card { background: white; padding: 20px; width: 200px; border-radius: 10px; box-shadow: 0 0 10px #ccc; }
.form, .info { padding: 30px; text-align: center; }
input, textarea { width: 60%; margin: 8px; padding: 8px; }
footer { background: #333; color: white; text-align: center; padding: 10px; }
.card1 {background: white; padding: 40px; width: 500px; height:500px; border-radius: 20px; box-shadow: 0 0 10px #ccc;}